<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Admin</title>
</head>
<body class="pt-16 h-screen flex items-center justify-center bg-gray-100">
    <nav id="navbar" class="fixed backdrop-blur-xl bg-red-800 top-0 left-0 right-0 h-16 flex items-center justify-between p-5">
        </nav>
        <div class="grid grid-cols-2 gap-8 p-4">
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a class="text-2xl text-black">Actualizar Dataset</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a class="text-2xl text-black">Generar informes</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a class="text-2xl text-black">Historial de cambios</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a href="/ingreso-datos-masivos/" class="text-2xl text-black">Ingreso de datos masivos</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a href="/UsersRegister/" class="text-2xl text-black">Verificar usuarios</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a href="/RegistroDE/" class="text-2xl text-black">Ver denuncias</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a class="text-2xl text-black">Generar Graficos de datos</a>
            </div>
        </div>
    <script src="/Components/nav.js"></script>
</body>
</html>